 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Poppins', sans-serif;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 header {
     border: 1px solid rgb(136, 81, 11);
 }

 .nav-section {


     max-width: 1400px;


     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 60px 60px 40px 60px;
     border: 2px solid green;
 }

 .nav-title h3 {
     color: #3A3A3A;
     font-size: 1.5rem;
     font-weight: 700;
 }

 .nav-menu ul {
     display: flex;
     margin-right: 30px;
 }

 .nav-menu li {
     margin-right: 30px;
 }

 .nav-menu li a {
     color: #3A3A3A;
     font-size: 1rem;
     font-weight: 600;
 }


 .header-banner {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .banner-content {
     width: 40%;
 }

 .title {
     color: #3A3A3A;
     font-size: 3.25rem;
     font-weight: 700;
     line-height: 4.375rem;

     padding-bottom: 40px;
 }

 .dtls {
     color: #3A3A3A;
     font-size: 1rem;
     font-weight: 600;
     padding-bottom: 30px;
 }

 .btn {
     padding: 0.625rem 1.5rem;
     border: 0;
     border-radius: 2.5625rem;
     background: #E02C6D;
     color: #fff;
     font-size: 1rem;
     font-weight: 700;
 }

 .banner-img {
     width: 27.5rem;
     height: 25.875rem;
     background-image: linear-gradient(to right, #F1E4FF, #F1E4FF);
     background-size: 100px;
     border-radius: 29.6875rem;
     border: 3px solid var(--brand-purple-100, #F1E4FF);
 }

 @media screen and (max-width: 480px) {
    
 }


 @media screen and (max-width: 570px){

 }


 @media screen and (min-width: 570px) and (max-width: 960px){

 }