 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Poppins', sans-serif;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
 }



 .nav-section {


     max-width: 1400px;


     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 60px 60px 40px 60px;
 }

 .nav-title h3 {
     color: #3A3A3A;
     font-size: 1.5rem;
     font-weight: 700;
 }

 .nav-menu ul {
     display: flex;
     align-items: center;
     margin-right: 30px;
 }

 .nav-menu li {
     margin-right: 30px;
     margin-top: 20px;
 }

 .nav-menu li a {
     color: #3A3A3A;
     font-size: 1rem;
     font-weight: 600;
 }


 .header-banner {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .banner-content {
     width: 40%;
     padding-left: 10px;
 }

 .title {
     color: #3A3A3A;
     font-size: 3.25rem;
     font-weight: 700;
     line-height: 4.375rem;

     padding-bottom: 40px;
 }

 .dtls {
     color: #3A3A3A;
     font-size: 1rem;
     font-weight: 600;
     padding-bottom: 30px;
 }

 .btn {
     padding: 0.625rem 1.5rem;
     border: 0;
     border-radius: 2.5625rem;
     background: #E02C6D;
     color: #fff;
     font-size: 1rem;
     font-weight: 700;
 }

 .banner-img {
     width: 27.5rem;
     height: 25.875rem;
     background-image: linear-gradient(to right, #F1E4FF, #F1E4FF);
     background-size: 100px;
     border-radius: 29.6875rem;
     border: 3px solid var(--brand-purple-100, #F1E4FF);

     margin-top: 30px;
 }

 /* @media screen and (max-width: 480px) {
     .nav-section {
         flex-direction: column;
     }
 } */


 @media screen and (max-width: 570px) {

     .nav-section,
     .nav-menu ul,
     .header-banner {
         flex-direction: column;
     }

     .banner-content {
         width: 100%;
     }
     .banner-img{
        border: none;
        background: none;
        text-align: center;
     }

     .banner-img img {
         width: 12.625rem;
         height: 11.875rem;
         border: 3px solid var(--brand-purple-100, #F1E4FF);
         border-radius: 50%;
     }
 }


 @media screen and (min-width: 570px) and (max-width: 960px) {}